/tmp.txt
/commits.csv
/node_modules
/Theme/mod.css
/Theme/ElegantFin-theme-nightly-min.css
/Theme/assets/add-ons/custom-media-covers-nightly-min.css
/Theme/assets/add-ons/media-bar-plugin-support-nightly-min.css
/Theme/assets/add-ons/seamless-fork-compatibility-nightly.css
/Theme/assets/add-ons/seamless-fork-compatibility-nightly-min.css
/plans/
/relatorios/
/Previews/
